body {
	background-image: url(../images/ep_naturalblack.png);
}

.container{
	color: white;
}

#add-actor{
	color: red;
}

.btn-danger {
	margin: 3px;
}

img {
	padding: 10px;
}


.gif{
	width: 100%;
}